.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
    display: block;
    background-color: #444;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    margin-top: 0px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    margin-top: -22px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

.navbar.navbar-toggleable-md.navbar-light.bg-faded {
    background: rgba(255, 255, 255, 0.80);
}

.white-zone {
    border-radius: 15px;
    margin-top: 5%!important;
    margin: auto;
    background-color: white;
    opacity: 0.9;
}

th {
    text-align: center; 
}

td {
    text-align: center; 
}

#connect {
    margin-top: 5%;
    position: none;
    left: none;
}

.form-control {
    margin-bottom: 15px;
}

.table-responsive {
    width: 90%;
    margin: auto;
}

.logo-nav {
    width: 80px;
}

.app-frais {
    position: absolute; 
    top: 25px; 
    left: 110px; 
    font-weight: bold; 
    color: #123e6a;
}

.dropdown-menu {
    width: 5%;
}

body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#date-visite {
    margin-top: 5%;
}

#demo {
    max-width: 1000px !important;
    margin: auto; 
    margin-top: 6%; 
    margin-bottom: 6%;
}

.white-zone2 {
    border-radius: 15px;
    margin-top: 5%!important;
    margin: auto;
    background-color: white;
    opacity: 0.9;
    width: 80%; 
    margin-bottom: 20px;
}

.white-zone3 {
    border-radius: 15px;
    margin-top: 5%!important;
    margin: auto;
    background-color: white;
    opacity: 0.9;
    width: 100%; 
    margin-bottom: 20px;
}

.info {
    margin-left: 20px;
}

.info2 {
    display: inline-block;
}

.title-page {
    display: inline-block; 
    margin-left: 20px; 
    margin-top: 10px; 
    color: #123e6a;
}

.title-page2 {
    display: inline-block; 
    margin-left: 20px; 
    margin-top: 10px;
}

.title-page3 {
    display: inline-block;
    font-size: 25px;
    margin-left: 20px; 
    margin-top: 10px; 
    color: #123e6a;
}

.input-group {
    margin-left: 10%; 
    margin-top: 5%; 
    margin-bottom: 20px;
}

.input-group-btn {
    margin-top: 3%;  
    margin-right: 20%;
}

.link-modal {
    margin-left: 20px; 
    display: inline-block;
}

.icon1 {
    font-size: 25px;
}

.icon2 {
    margin-left: 10px; 
    font-size: 25px;
}

#date {
    max-width: 170px; 
    margin-bottom: 20px;
    margin-left: 25px;
}

#date2 {
    max-width: 170px; 
    margin-bottom: 20px;
    margin-left: 0px;
    margin-top: 15px; 
}

#modal-title {
    margin-left: 25%;
}

.modal-footer {
    margin: auto;
}

.login-form {
    position: relative;
    top: 150px;
    margin: auto;
    max-width: 400px;
    height: 390px;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 20px;
    text-align: center;
}

#form-connect {
    width: 350px;
}

.title {
    font-size: 30px;
    color: #123e6a;
    margin: auto; 
    margin-top: 2%;
}

.logo {
    width: 40%; 
    margin: auto; 
    margin-top: 20px;
}

.form-control {
    margin: auto; 
    margin-top: 3%;
}

.select-frais {
    margin-top: 13.969px;
}

.mdp-missing {
    float: left; 
    margin-left: 25px; 
    margin-top: 0px;
}

.btn_connexion{
    margin-top:3%; 
    position:absolute; 
    left:20%;
}

.btn_modal{
    margin-top:3%; 
    position:absolute; 
    left:52%;
}

.modal-title{
    margin-left:22%;
}

.form-group_ajout{
    margin-left: 5%; 
    margin-right: 5%; 
    margin-bottom: 5%; 
    float: left;
}

/* page ajout compt rendu*/
.num_ajout{
    margin-left: 0%; 
    margin-bottom: 3%; 
    max-width: 100px;
}

.motif{
    display: block;
}

.praticien{
    display: block; 
    margin-top: 20px; 
    margin-bottom: 20px
}

.form-check{
    margin-bottom: 20px
}

.produit1{
    display: block; 
    margin-top: 20px; 
    margin-bottom: 20px
}

.form_ajout{
    float: left; 
    margin-top: 0%; 
    margin-bottom: 3%; 
    max-width: 210px;
}


/* page compt rendu*/
.compte_rendu{
    display: inline-block; 
    margin-left: 2%;
}

/* page detail compte rendu */
.table-responsive{
    margin-top: 20px; 
    margin-bottom: 20px;
}

/*page menu*/
.container_menu{
    margin-right: 0px;
}

.row_menu{
    margin: auto;
}

.card_menu{
    width: 25rem; 
    height: 23rem; 
    margin: 20px;
}

.a_menu{
    width: 18rem; 
    margin: auto;
}

/* page visiteur */
.form_departement{
    margin-top: 15px; 
    margin-bottom: 3%; 
    margin-left: 45px; 
    float: left;
}

@media (max-width: 375px) {
    .btn_modal{
        left: 57%;
    }

    .btn_connexion{
        left: 12%;        
    }        

}
    

@media (max-width: 444px) {
    .ligne_verticale {
        display: none;
    }

    #tab-hist {
        position: relative;
        top: 10px;
        left: 20px;
    }

    .white-zone {
        position: absolute;
        top: 16%;
        left: 20px;
        width: 90%;
        height: 86%;
        margin-bottom: 10px;
    }

    #form-connect {
        width: auto;
        text-align: center;
    }

    .form-check {
        float: none;
        margin-left: 0;
    }

    .connexion {
        margin-top: 3%;
        position: relative;
        left: 0;
    }

    .login-form {
        height: 375px;
    }

    #connect {
        margin-top: 3%;
        position: none;
        left: none;
    }

    .mdp-missing {
        float: none;
        margin-left: 0;
        margin-top: 0;
    }

    h3{
        margin: auto !important;
    }
}